body{
 background: rgb(70,142,236);
 font: normal 15pt Arial, Helvetica, sans-serif;
}
header{
    color: white;
    text-align: center;
}
section{
    background: white;
    border-radius: 10px;
    padding: 15px;
    max-width: 500px;
    margin: auto;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.377);
}
.button{
    padding: 8px;
    border: 1px  inset;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.301);
    border-radius: 4px;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 1%;
}
.button:hover{
    background-color: lightgrey;
}
#flista{
    width: 150px;
}
footer{
    color: white;
    text-align: center;
    font-style: italic;
}